# Chef
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/knife.rb
.vagrant

chef

# Ruby
.rake_test_cache
.rvmrc
.rbenv-version
.bundle

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Emacs org-mode
.org-id-locations
*_archive

# SublimeText
*.sublime-workspace

# TextMate
*.tmproj
*.tmproject
tmtags

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

keys/*.pem
keys/id_rsa*
data_bags/users/*

data
log/*.log
log/pids
tmp
workspace