

<% @eco_systems.each do |eco_system| %>
  <h2><%= link_to eco_system.name, eco_system_path(eco_system) %></h2>
  <div class="row">
  <!-- begin col-3 -->
  <div class="col-md-3 col-sm-6 ui-sortable">
    <div class="widget widget-state bg-purple">
      <div class="state-icon"><i class="fa fa-desktop"></i></div>
      <div class="state-info">
        <h4>Servers</h4>
        <p><%= eco_system.applications.inject(0){|total,app| total + app.servers.count} %></p>
      </div>
      <div class="state-link">
        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
  <!-- end col-3 -->
  <!-- begin col-3 -->
  <div class="col-md-3 col-sm-6 ui-sortable">
    <div class="widget widget-state bg-blue">
      <div class="state-icon"><i class="fa fa-database"></i></div>
      <div class="state-info">
        <h4>Databases</h4>
        <p><%= eco_system.databases.count %></p>
      </div>
      <div class="state-link">
        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
  <!-- end col-3 -->
  <!-- begin col-3 -->
  <div class="col-md-3 col-sm-6 ui-sortable">
    <div class="widget widget-state bg-green">
      <div class="state-icon"><i class="fa fa-leaf"></i></div>
      <div class="state-info">
        <h4>Redis Clusters</h4>
        <p><%= eco_system.caches.count %></p>
      </div>
      <div class="state-link">
        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
  <!-- end col-3 -->
  <!-- begin col-3 -->
  <div class="col-md-3 col-sm-6 ui-sortable">
    <div class="widget widget-state bg-red">
      <div class="state-icon"><i class="fa fa-bars"></i></div>
      <div class="state-info">
        <h4>Memcache Clusters</h4>
        <p>2</p>
      </div>
      <div class="state-link">
        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
  <!-- end col-3 -->
  </div>
  <hr/>
<% end %>