{
  "chef": {
    "chef_server_url": "https://api.opscode.com/organizations/xxxx",
    "validation_client_name": "carpcorp-validator",
    "validation_key_path": "/path_to_pem/xxxx.pem",
    "client_key": "/path_to_pem/.chef/jeffcara.pem",
    "node_name": "node_name"
  },
  "cookbook": {
    "copyright": "YOUR_NAME",
    "email": "YOUR_EMAIL",
    "license": "reserved"
  },
  "allowed_licenses": [],
  "raise_license_exception": false,
  "vagrant": {
    "vm": {
    }
  },
  "ssl": {
    "verify": false
  }
}