// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-cache {

  background-color: $background-color;
  vertical-align: top;
  text-align: left !important;
  .subtitle{
    color: $label-color;
  }
  .id{
    font-size: 0.9em;
  }
  .status{

  }
  .node_number{

  }
  .node_status{

  }
  .port{

  }
  .right{
    float: right;
  }

  .address{
    font-size: 0.7em;
  }

}