<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Home</a></li>
  <li class="">Dashboard</li>
  <li class="active"><%= @eco_system.name %></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Dashboard for <%= @eco_system.name %><small></small></h1>
<!-- end page-header -->