<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <!-- <ul class="nav">
      <li class="nav-profile">
        <div class="image">
          <a href="javascript:;"><img src="assets/img/user-11.jpg" alt="" /></a>
        </div>
        <div class="info">
          Sean Ngu
          <small>Front end developer</small>
        </div>
      </li>
    </ul> -->
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li class="active">
        <a href=""><i class="fa fa-laptop"></i> <span>Dashboard</span></a>
      </li>

      <% EcoSystem.first.applications.each do |app| %>

        <li class="has-sub">
            <a href="javascript:;">
                <i class="fa fa-laptop"></i>
                <b class="caret pull-right"></b>
                <span><%= app.name %></span>
            </a>
          <ul class="sub-menu" style="overflow: hidden; display: block;">
            <li class="">
              <a href=""><i class="fa fa-laptop"></i> <span>Security</span></a>
            </li>

            <li class="">
              <a href=""><i class="fa fa-laptop"></i> <span>Servers</span></a>
            </li>

            <li class="">
              <a href=""><i class="fa fa-laptop"></i> <span>Databases</span></a>
            </li>

            <li class="">
              <a href=""><i class="fa fa-laptop"></i> <span>Redis</span></a>
            </li>
          </ul>
        </li>
      <% end %>




          <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
          <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->