<p id="notice"><%= notice %></p>

<p>
  <strong>Dns:</strong>
  <%= @load_balancer.dns %>
</p>

<%= link_to 'Edit', edit_load_balancer_path(@load_balancer) %> |
<%= link_to 'Back', load_balancers_path %>
